
html {
  scroll-behavior: smooth;
}

.header {
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 50;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 1rem 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoImage {
  height: 3.5rem;
  width: auto;
  object-fit: contain;
  margin-right: 8px; /* spacing between image and text */
}


.logotext {
  color: maroon;
}

.accent {
  color: #333;
}
.logoWrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.link:hover {
  color: maroon;
  cursor: pointer;
}

.socials {
  display: flex;
  gap: 12px;
  margin-left: 20px;
}

.icon {
  cursor: pointer;
  font-size: 16px;
}

.appointmentBtn {
  background-color: maroon;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
}

.appointmentBtn:hover {
  background: rgb(247, 24, 24);
  color:black;
}


 .burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 2px;
}


@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 20px;
    display: none;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .mobileOpen {
    display: flex;
  }

  .burger {
    display: flex;
  }
} 
